<div fxFlex="100" fxLayout="row wrap" fxLayoutGap="0">
  <div class="display-table" fxFlex="70">
    <table mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort fxFlexFill>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let photo">{{photo.id}}</td>
      </ng-container>

      <ng-container matColumnDef="albumId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Album ID</th>
        <td mat-cell *matCellDef="let photo">{{photo.albumId}}</td>

      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let photo">{{photo.title}}</td>
      </ng-container>

      <ng-container matColumnDef="thumbnailUrl">
        <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
        <td mat-cell *matCellDef="let photo" fxFlexAlign="center center">
          <img [src]="photo.thumbnailUrl" fxFlexFill />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[50, 100, 500, 1000, 5000]" showFirstLastButtons></mat-paginator>
  </div>

  <div fxFlex="30" class="display-content">
    <div *ngIf="clickedRow; else noRowClicked">

      <mat-card class="example-card">
        <img mat-card-image [src]="clickedRow.thumbnailUrl" [alt]="clickedRow.title">
        <mat-card-content>
          <div class="clearfix">
            <h2 class="mat-h2">{{ clickedRow.title }}</h2>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <mat-chip-list>
            <mat-chip>ID: {{ clickedRow.id }}</mat-chip>
            <mat-chip>Album ID: {{ clickedRow.albumId }}</mat-chip>
          </mat-chip-list>
        </mat-card-actions>
      </mat-card>
    </div>
    <ng-template #noRowClicked>
      <div class="no-row-clicked">
        <mat-icon class="mat-desc-icon">description</mat-icon>
        <h2 class="mat-h2">Click on a row to show content here</h2>
      </div>
    </ng-template>
  </div>
</div>