<mat-toolbar color="warm">
  <mat-toolbar-row>
    <span>Eskimi Task</span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="clearfix">
  <div class="m-2">
    <router-outlet></router-outlet>
  </div>
</div>