/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clearfix {
  clear: both;
}

.m-2 {
  margin: 20px;
}

.display-table {
  width: 100%;
}

.display-table {
  table {
    tbody {
      height: 50vh;
      tr {
        &:hover {
          background-color: rgba(97, 97, 97, 0.8);
        }
      }
    }
  }
}

.display-content {
  position: fixed;
  top: 64px;
  right: 0;
  width: 100%;
  padding: 20px;

  .no-row-clicked {
    border: 1px solid rgba(97, 97, 97, 0.2);
    border-radius: 3px;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px 0;
    color: #333;

    .mat-desc-icon {
      font-size: 3rem;
      height: 3rem;
      width: 3rem;
    }
  }
}
